/* BODY */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #dbe4e0, #d7e7f0);
}

/* skip to mainpage wcag */
.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  padding: 8px 16px;
  background: #1b3e78;
  color: white;
  z-index: 1000;
}

.skip-link:focus {
  left: 10px;
  top: 10px;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* HEADER */
.site-header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #dbe4e0, #d7e7f0);
}

.nowrap {
  white-space: nowrap;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

/* LOGO */
.logo {
  color: #254f5a;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

/* NAV MENU */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 50px;
  flex: 1;
  justify-content: center;
  cursor: pointer;
}

.nav-menu a {
  text-decoration: none;
  color: #335c7a;
  font-size: 16px;
}

.nav-menu a:hover {
  text-decoration: underline;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  border: none;
  font-size: 16px;
  color: #335c7a;
  cursor: pointer;
  padding: 0;
}

.dropbtn:hover {
  text-decoration: underline;
}

.dropdown-content {
  top: 100%;
  left: 0;
  position: absolute;
  background: white;
  min-width: 150px;
  border: 1px solid #ddd;
  padding: 5px 0;
  z-index: 999;
  display: none;
  list-style: none;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #335c7a;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: #f4f9fb;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* RIGHT LANGUAGE */
.nav-right a {
  color: #335c7a;
  text-decoration: none;
}

.nav-right a:hover {
  text-decoration: underline;
}

/* UNIFIED SECTION PADDING */
section {
  padding: 80px 40px;
  /* Key fix */
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.hero-image {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
}

.hero-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.4;
  color: #395886;
  max-width: 380px;
  /* 500px -> 380px for the size of hero-text */
}

/* SECTION TITLE */
.section-title {
  font-size: 32px;
  color: #2f4a5d;
  text-align: center;
  margin-bottom: 40px;
}

/* SERVICES SECTION */
.services-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.services-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.services-img {
  width: 100%;
  max-width: 323px;
  border-radius: 12px;
}

/* CATERING TABLE */
.catering-table {
  width: 100%;
  /* table size*/
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

.catering-table caption {
  text-align: left;
  font-weight: 600;
  margin-bottom: 8px;
}

/* Borders */
.catering-table th,
.catering-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Header */
.catering-table thead th {
  background: #f3f6f8;
  font-weight: 600;
}

.catering-table th[scope="row"] {
  background: #fafafa;
}

.catering-note,
.menu-note {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
}

/* Menu pdf */
.cafeterias-section h3 a {
  font-size: 14px;
  font-weight: 600;
  color: #0a3d62;
  margin-left: 8px;
  text-decoration: none;
  opacity: 0.85;
}

.cafeterias-section h3 a:hover {
  opacity: 1;
  text-decoration: underline;
}

.catering-table tbody tr:hover,
.catering-table tbody tr:focus {
  background-color: #f4f9fb;
}

/* table column width */
table {
  table-layout: fixed;
  width: 100%;
}

td,
th {
  word-wrap: break-word;
  padding: 12px;
}

/* Daily menu text */
.daily-menu {
  font-size: 16px;
  color: #2e4350;
  margin-bottom: 30px;
}

/* Cafeterias */

.accordion-item {
  background: #ffffff;
  border: 1px solid #d2d9de;
  border-radius: 8px;
  margin-bottom: 20px;
  /* overflow: hidden; */
}

.accordion-header {
  width: 100%;
  background: #ffffff;
  border: none;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #24323f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-header:hover {
  background: #f3f6f8;
}

.arrow {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: max-height 2000px;
}

.accordion-content.open {
  padding: 20px;
}

.accordion-content h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.dish-info {
  margin-bottom: 15px;
  line-height: 1.6;
  text-align: justify;
}

.ingredient-list {
  columns: 2;
  column-gap: 40px;
  padding-left: 20px;
}

.ingredient-list li {
  margin-bottom: 4px;
}

/* cafeterias */

/* SECTION DIVIDER */
.section-divider {
  width: 90%;
  margin: 1px auto;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* Media Query */
@media (max-width: 900px) {
  .nav-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-right {
    margin-left: 20px;
    margin-top: 10px;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  /* Our services */
  .services-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .services-right img {
    max-width: 260px;
  }

  .services-left {
    width: 100%;
  }

  .nav-menu {
    flex-direction: column; 
    gap: 15px;
    align-items: center;
    padding-top: 10px;
    width: 100%; 
  }

  .nav-container {
    height: auto; 
  }
}

/* FOOTER */
.site-footer {
  background-color: #111;
  color: #ccc;
  padding: 15px 0;
  border-top: 1px solid #444;
}

.footer-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left a {
  color: #ddd;
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
}

.footer-left a:hover {
  color: #fff;
}

.footer-right {
  font-size: 14px;
  white-space: nowrap;
}
